.panel-primary{
	margin-top:40px;	
}
.blocoInicial{
	width:85%;
	margin:0 auto;
	margin-top:1%;
	padding:0;
	background-color: #c9c9c9;
	border-color: #c9c9c9;
}
.subBloco{
	padding-left:20px;
}
.textoMenu h3 {
	margin-top: 20px;
}
.figureInicio{
	width: 390px;
}

/* PARA DISPOSITIVOS ATÉ 768px DE LARGURA (mobile) */
@media screen and (max-width: 768px) {
.blocoInicial {
	padding: 0;
	margin: 0;
	width: 100%;
}
.grid figcaption h3 {
	font-size:15px;
}
.grid {
	padding: 0;
}
.principal {
	margin-top: 100px;
}
.logo img {
	height: 60px;
}
.menu {
	padding: 0;
	float: right;
	margin-left: 25px;
}
.modal-md2 {
	width: 100%;
}
.itens li, .itens li a, .itens li ul {
	width: 100%;
	text-align: center;
}
.itens li a {
	font-size: 20px;
}
.textoMenu h3 {
	padding: 0;
	margin: 0 auto;
	margin-top: 5px;
	font-size: 18px;
}
.input-group {
	width: 100%;
}
.panel-footer > .btn {
	width: auto;
}
.modal-content {
	margin-top:60%;
}
#basic-addon1 {
	text-align: left;
	width: auto;
}
.footer{
	position: relative;
	margin-top: 20px;
	width: 100%;
	height: auto;
}
.subBloco{
	padding-left:0;
}
.figureInicio{
	width:100%;
}
}
/* PARA DISPOSITIVOS ATÉ 768px DE LARGURA (mobile) */